/* paleta nueva */
$cCyan : #0dcdc0;
$cCyanDark : #0ead99;

$cVerde : #a7d163;
$cVerdeDark : #27ae61;

$cAmarillo : #fbcf62;
$cAmarilloDark : #f9c82d;

$cNaranja : #e5ba5b;
$cNaranjaDark : #e3a711;

$cRojo: #ff6f6f;
$cRojoDark: #d13f4a;

$cRosa: #d49f99;
$cRosaDark: #745260;

$cTomateLight: #fe7d60;
$cTomate: #e84b3a;
$cTomateDark: #c1392b;

$cAzul : #3598db;
$cAzulDark : #297fb8;

$cIndigo: #48647c;
$cIndigoDark: #2d3e50;

$cVioleta: #b13f73;
$cVioletaDark: #832d50;

$cBlanco : #ffffff;
$cGris : #dedede;
$cGrisDark : #bec3c7;

$cMarron: #69625c;

$cNegro : #0b0d0f;
$cCiruelon : #404048;
