//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "mixins";
@import "colors";
@import "keyframes";
/* ::::::::::::::::::::::::: variables/mixins ::::::::::::::::::::::::::: */

$header-height : 105px;
$footer-height : 75px; // antes 75px;

/* extend */
.bg-contain {   background-position: center center; background-repeat: no-repeat; background-size: contain; }
.bg-cover {     background-position: center center; background-repeat: no-repeat; background-size: cover; }
.sprite-kiriweb { background-image:     url('../images/sprites/sprite-kiriweb.png');    }
.sprite-elenco  { background-image:     url('../images/sprites/sprite-elenco.png');     }
.sprite-equipo  { background-image:     url('../images/sprites/sprite-equipo.png');     }
.sprite-front   { background-image:     url('../images/sprites/sprite-front_2.png');      }






/* ::::::::::::::::::::::::: GLOBALS ::::::::::::::::::::::::::: */

* { padding: 0; margin: 0;}
html {box-sizing: border-box; }
*, *:before, *:after {box-sizing: inherit; }

/* ::::::::::: FONTS ::::::::::: */

// OLD FONT-FACE LINE :: @font-face { font-family: kiriFont; src: url('../fonts/KiriFont.ttf'); }
@font-face {
    font-family: 'kiriFont';
    src: url('../fonts/kirifont-webfont.eot');
    src: url('../fonts/kirifont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kirifont-webfont.woff') format('woff'),
         url('../fonts/kirifont-webfont.ttf') format('truetype'),
         url('../fonts/kirifont-webfont.svg#kirifontnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
// OLD FONT FACE :: @font-face { font-family: McLaren; src: url('../fonts/McLaren-Regular.ttf'); }
@font-face {
    font-family: 'mclarenregular';
    src: url('../fonts/mclaren-regular-webfont.eot');
    src: url('../fonts/mclaren-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mclaren-regular-webfont.woff') format('woff'),
         url('../fonts/mclaren-regular-webfont.ttf') format('truetype'),
         url('../fonts/mclaren-regular-webfont.svg#mclarenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$font-kiriFont  : kiriFont, 'kiriFont', "KiriFont","HammersmithOne", "Helvetica Neue","helvetica", "Helvetica", "Montserrat",Arial, Verdana,sans,  sans-serif;
$font-cursive   : mclarenregular, 'mclarenregular', 'McLaren', "McLaren-Regular","McLaren Pro", "Chelsea Market","FF Duper", "Helvetica Neue","helvetica", "Helvetica", "Montserrat",Arial, Verdana,sans,   sans-serif;
$font-hand   :   Damion, "Damion",'Damion', cursive;

/* ::::::::::: FIN FONTS ::::::::::: */


header, footer, h1, h2, h3, h5, h6 {font-family: $font-kiriFont; }
h4 {        font-family: $font-cursive; }
body {background-color: $cNegro; color: $cBlanco; }
a        {    color: $cBlanco; }
a:hover  {    color: $cAmarillo; }
a:active {    color: $cCyan; }
hr {
    @extend .sprite-kiriweb;
    width: 255px;
    height: 5px;
    background-position: 0px -340px;
    margin: 5px auto; padding: 0;
    border:0;
}
hr.indigo { background-position: 0px -345px; }
hr.light { background-position: -255px -340px; }
hr.cyan { background-position: -255px -345px; }

html, body{
    height: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased!important;
    -o-font-smoothing: antialiased!important;
    -ms-font-smoothing: antialiased!important;
    font-smoothing: antialiased!important;
    font-smooth: always!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding:0px !important;
     overflow-x: hidden; /* disable horizontal scrollbar */
}
/* ::::::::::::::::::::::::: FIN: GLOBALS ::::::::::::::::::::::::::: */




/* ::::::::::::::::::::::::: SCROLLER / SWIPE FW ::::::::::::::::::::::::::: */

ul#pages { list-style-type: none; height: 100%; margin: 0 !important; padding: 0 !important; }
#content ul#pages, #content ul#pages > li { height: 100%; width: 100%; position: relative; z-index: 0; }
#content ul#pages {@include transform(translate3d(0%,0,0) scale3d(1,1,1)); }
#content ul#pages.animate{ @include transition(all .3s); }
#content ul#pages > li{ float: left; }
.overthrow-enabled #content ul#pages li {
    overflow-x: hidden; /* disable horizontal scrollbar */
    overflow-y: auto; /* enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* preserve touch momentum while scrolling on WebKit browsers */
}

#content { /*configuraciones globales del texto interior */
    height: 100%;
    width: 100%;

    li { h1, h2, h3, h5, h6 { line-height: 1.5em; } }
    li { @extend .bg-cover; }
    li img.img-responsive, li .embed-responsive { @include box-shadow(); }
    li .container { padding-top: 110px; padding-bottom:110px; @include text-shadow();}
    li .container img {     margin: 10px auto; }
    li .container p.lead { font-family: $font-kiriFont;  }
    li .container p { font-family: $font-cursive;   }
    h4 {    @include text-shadow(none); color: rgba($cNegroDark, .6); }
}

.page li { overflow-y: hidden !important;}
/* ::::::::::::::::::::::::: FIN: SCROLLER / SWIPE FW ::::::::::::::::::::::::::: */



/* ::::::::::::::::::::::::: STICKY/HEADER ::::::::::::::::::::::::::: */

header {
    position: fixed;
    top: -70px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding-top: 26px;
    height: 70px;

    #gradient {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 80px;
        background: url('../images/header_bg.png') repeat-x top center;
        }

    #menu a{
        @include transition();
        color: rgba($cNegroDark,.6);
        margin-right:35px;
        padding: 5px;
        font-size: 1.2em;
        display: inline-block;
        @include text-shadow(none);
        background: url('../images/underline.png') no-repeat 50% 150% ;
        &:hover, &.active {
            color: $cBlanco !important;
            text-decoration: none;
            background: url('../images/underline.png') no-repeat  50% 100%;
        }
        &:last-child { margin-right:0; }
    }
}

/* ::::::::::::::::::::::::: FIN:HEADER ::::::::::::::::::::::::::: */


/* ::::::::::::::::::::::::: FOOTER ::::::::::::::::::::::::::: */
footer {
    position: fixed;
    bottom: -90px;
    left: 0; right: 0;
    z-index: 99;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    #love { padding: 6px 0 0 25px; }
    #logos a{
        @extend .sprite-kiriweb;
        //@include opacity(.8);
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;

        &:last-child { margin-right: 0px;}
        &#logo-if{
            width: 90px; height:30px;
                        background-position: -150px -400px;
            &:hover{    background-position: -150px -430px; }
        }
        &#logo-sla{
            width: 72px; height:26px;
                        background-position: -260px -400px;
            &:hover{    background-position: -260px -430px; }
        }
        &#logo-slc{
            width: 100px; height:45px;
                        background-position: -400px -350px;
            &:hover{    background-position: -400px -395px; }
        }
        &#logo-incaa{
            width: 90px; height:50px;
                        background-position: -150px -460px;
            &:hover{    background-position: -240px -460px; }
        }
        &#logo-zetta{
            width: 60px; height:30px;
                        background-position: -240px -400px;
            &:hover{    background-position: -240px -430px; }
        }
    }
    #gradient {
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        height: 80px;
        background-position: bottom center;
        background-repeat: repeat-x;
        background-image: url('../images/footer_bg.png');
         //display: none;
        }
    #copyright {padding:17px 25px 0 0;}
    #copyright a{
        display: inline-block ;
        color: $cBlanco;
        @include transition();
       @include text-shadow(none);
       padding: 5px;
        background: url('../images/underline.png') no-repeat 50% 165% ;
        &:hover, &.active {
            color: $cBlanco !important;
            text-decoration: none;
            background: url('../images/underline.png') no-repeat  50% 100%;
        }
    }


    #social-globo {
        @include transform-origin(22px 135px);
        @include animation(0s, 0.5s, socialGlobo);
        @include border-radius();
        @include box-shadow();
        position: absolute;
        left: 17px;
        bottom:62px;
        padding:15px;
        width: 115px;
        background: $cBlanco url('../images/noise.png');
        &:after {
            top: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: $cBlanco ;
            border-width: 10px;
            margin-left: -10px;
        }

    }
    .socialGloboShow {@include animation(0s, 0.5s, socialGlobo);}
    .socialGloboHide {@include animation(0s, 0.5s, socialGloboInv);}
}
/* ::::::::::::::::::::::::: FIN: FOOTER ::::::::::::::::::::::::::: */



.hero-unit {
    background-image:url('../images/noise.png');
    @include border-radius();
    @include box-shadow();
    padding: 20px;
    position: relative;
    &:after {
            bottom: 100%;
            left: 15%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $cIndigoDark;
            border-width: 10px;
            margin-left: -10px;

        }
        &.hero-no-arrow {
            &:after { border: 0;}
        }
    }

.featured {
    position: fixed;
    bottom:     0px;
    right:      0px;
    @include transition();
    //border: 1px solid red;
    width: 400px;
    height: 400px;
    z-index: 1;
    pointer-events: none;
}

header, footer {@include transition(); }


// :::::::::::::::::::::: HOME ::::::::::::::::::::::::::::::
#home {@include radial-gradient($cBlanco, $cGrisDark); }
.page-0 {
    header {@include linear-gradient($cIndigo, rgba($cIndigo,0)); }
    footer {@include linear-gradient(rgba($cIndigo,0), $cIndigo); }
}

// :::::::::::::::::::::: GALERIA ::::::::::::::::::::::::::::::
#trailer { 
    @include radial-gradient($cRojo, $cRojoDark);  
    .featured {
        background: none;
        right:      0px;
        left: 0px;
        width:  509px;
        height: 210px;
    }
}
.page-1 { 
    header {@include linear-gradient($cRojoDark, rgba($cRojoDark,0)); }
    footer {@include linear-gradient(rgba($cRojoDark,0), $cRojoDark); }
}

// :::::::::::::::::::::: SINOPSIS ::::::::::::::::::::::::::::::
#sinopsis {
    @include radial-gradient($cVerde, $cVerdeDark); 
    .featured {
            background: url('../images/overlays/over-marta.png') no-repeat bottom right;
            right:      150px;
            width:  228px;
            height: 461px;
        }
    }
.page-2 { 
    header {@include linear-gradient($cVerdeDark, rgba($cVerdeDark,0)); }
    footer {@include linear-gradient(rgba($cVerdeDark,0), $cVerdeDark); }
}

// :::::::::::::::::::::: EQUIPO ::::::::::::::::::::::::::::::
#equipo {
    @include radial-gradient($cAmarillo, $cAmarilloDark); 
    dl {
        dt {
            font-weight: normal !important;
            font-family: 'Damion';
            color: $cIndigoDark;
            @include text-shadow(none);
            font-size: 1.6em;
            line-height: 2em;
        }
        dd {
            font-family: $font-kiriFont;
            color: $cBlanco;
            line-height: 2em;
        }
    }
    .featured {
        background: url('../images/overlays/over-dora-2.png') no-repeat bottom right;
        right:      0px;
        width:  352px;
        height: 275px;
    }
}
.page-3 { 
    header {@include linear-gradient($cAmarilloDark, rgba($cAmarilloDark,0)); }
    footer {@include linear-gradient(rgba($cAmarilloDark,0), $cAmarilloDark); }
}


// :::::::::::::::::::::: ELENCO ::::::::::::::::::::::::::::::

#elenco {
    @include radial-gradient($cAzul, $cAzulDark); 
    h4 {
        color: $cBlanco !important;
        font-size: 1.6em;
        line-height: 1em;
        margin:0;
    }
    dl {

        dt {
            font-weight: normal !important;
            font-family: 'Damion';
            color: $cIndigoDark;
            @include text-shadow(none);
            font-size: 1.6em;
            line-height: 1em;

        }
        dd {
            font-family: $font-kiriFont;
            color: $cAmarillo;
            line-height: 2em;
            font-size: 2em;
        }
    }
}
.page-4 { //elenco
    .featured {
        background: url('../images/overlays/over-malos.png') no-repeat top left;
        right:      0px;
        left: 0px;
        width:  509px;
        height: 210px;
    }
    
    header {@include linear-gradient($cAzulDark, rgba($cAzulDark,0)); }
    footer {@include linear-gradient(rgba($cAzulDark,0), $cAzulDark); }

}


// :::::::::::::::::::::: PRENSA ::::::::::::::::::::::::::::::
#prensa {
    @include radial-gradient($cCyan, $cCyanDark); 
    .media { margin: 30px auto; }
    h4.media-heading {
        font-family: $font-kiriFont;
        font-size: 1.4em;
        padding: 5px 0px;
        overflow: auto;
    }
    p { font-size: 1.1em;}
}
.page-5 { //prensa
    .featured {
        background: url('../images/overlays/over-marta.png') no-repeat bottom right;
        right:      150px;
        width:  228px;
        height: 461px;
    }
    header {@include linear-gradient($cCyanDark, rgba($cCyanDark,0)); }
    footer {@include linear-gradient(rgba($cCyanDark,0), $cCyanDark); }
}

// :::::::::::::::::::::: CONTACTO ::::::::::::::::::::::::::::::
#contacto {
    @include radial-gradient($cTomate, $cTomateDark); 
}
.page-6 { //contacto
    .featured {
        background: none;
        right:     0px;
        left: 0px;
        width:  228px;
        height: 461px;
    }
    header {@include linear-gradient($cTomateDark, rgba($cTomateDark,0)); }
    footer {@include linear-gradient(rgba($cTomateDark,0), $cTomateDark); }
}

.theme-rojo {
    //background: $cIndigoDark url('../images/noise.png') ;
    background-size: auto !important;
    h4,h3,a,strong,dt{ color: $cRojo;}
    .hero-unit {background-color: $cRojoDark; @include text-shadow(none) ; &:after {border-bottom-color: $cRojoDark; } }
}
.theme-verde {
    //background: $cIndigoDark url('../images/noise.png') ;
    background-size: auto !important;
    h4,h3,a,strong,dt{ color: $cVerde;}
    .hero-unit {background-color: $cVerdeDark; @include text-shadow(none) ;  &:after {border-bottom-color: $cVerdeDark; } }
}
.theme-azul {
    //background: $cIndigoDark url('../images/noise.png') ;
    background-size: auto !important;
    h4,h3,a,strong,dt{ color: $cAzul;}
    .hero-unit {background-color: $cAzulDark; @include text-shadow(none) ;  &:after {border-bottom-color: $cAzulDark; } }
}
.theme-amarillo {
    //background: $cIndigoDark url('../images/noise.png') ;
    background-size: auto !important;
    h4,h3,a,strong,dt{ color: $cAmarillo;}
    .hero-unit {background-color: $cAmarilloDark; @include text-shadow(none) ;  &:after {border-bottom-color: $cAmarilloDark; } }
}

#modal {background: none !important; }

/* :::::::::::::::::::::::::[2] LI#HOME::::::::::::::::::::::::::: */
#doSwipe {
    @extend .sprite-kiriweb;
    background-position: -388px -119px;
    position: absolute;
    width: 123px;
    height:76px;
    left:0;
    right: 0;
    margin:auto;
    bottom:10%;
    @include animation(0s , 2s ,doSwipe);
            animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
    }

#logo-big {
    position: absolute;
    top: 21%;
    z-index: 100;
    padding:0; margin:auto;
    left: 0; right: 0;
    #logo_1_big, #logo_2_big, #logo_3_big {
        @include opacity(0);
        @extend .sprite-kiriweb;
        position:absolute;
        margin: auto;
    }
    #logo_1_big {
        @include animation (1s, .5s, welcome);
        background-position: 0px -200px;
        width: 512px; height: 138px;
        top:0; bottom: 0;left: 0;right: 0;
    }
    #logo_2_big {
        @include animation (1.5s, .3s, welcome);
        background-position: 0px -350px;
        width: 400px; height: 50px;
        bottom: -120px;left: 0;right: 0;
    }
    #logo_3_big {
        @include animation (3s, 2.5s, tresde);
        animation-play-state: pause;
        animation-iteration-count:infinite;
        background-position: 0px -400px;
        width: 150px; height: 110px;
        bottom: -205px;left: 0;right: 0;
        &:hover{animation-play-state: play; }
    }

}

.layer {position: absolute; @extend .sprite-front; }
.layer:hover {
    cursor: pointer;
    // filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
    // -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
    // filter:         drop-shadow(0px 0px 4px rgba($cBlanco,.6));
    // -o-filter:      drop-shadow(0px 0px 4px rgba($cBlanco,.6));
    // -moz-filter:    drop-shadow(0px 0px 4px rgba($cBlanco,.6));
    // -webkit-filter: drop-shadow(0px 0px 4px rgba($cBlanco,.6));

}

#layer-center {
    background-position:  0px 0px;
    width: 393px; height: 421px; right: -50%; top: 44%;
}

#layer-right {
   background-position: -393px 0px;
    right: -50%; top: 36%;width: 359px; height: 422px;
}
#layer-left {
    background-position: -162px -421px;
    left: -50%; top: 40%;  width: 451px; height: 325px;
}


#layer-ramas {
    //background-position: -351px -13px;
    position: absolute;
    z-index: 390;
    background-image: url('../images/front_ramas.png');
    background-size: cover;
    left: -10%; top: 0%;  width: 510px; height: 241px;
}
#layer-arbol {
    //background-position: -351px -13px;
    position: absolute;
    z-index: 391;
    background-image: url('../images/arbol.png');
    background-size: cover;
    right: -10%; top: 0%;  width: 177px; height: 100%;
}

#overlay{
    width: 100%;
    height: 100%;
    background: rgba($cIndigoDark, .6);
    position: fixed;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 99998;
}

img.front {
    pointer-events: none;
    position: absolute; bottom: 0; right: 0;
    z-index: 199999;
}
#modal {
    @include text-shadow(0 2px 0px rgba(0,0,0,.2));
    width: 100%;
    z-index: 99999;
    position: fixed;
    top:-80%;
    color: #fff;
    p{
        font-family: $font-cursive;
        line-height: 1.6em;

    }
    p.lead{
        font-family: $font-kiriFont;
        font-size: 1.15em;
        margin-bottom: 5px;
    }
    h4{
        font-family: $font-cursive;
        margin-bottom:0;
    }
    .modalContent {
        padding: 25px 60px 25px 25px;
        @include box-shadow();
        @include border-radius();

    }

}
#modal-close{
    width:25px;
    height:25px;
    cursor:pointer;
    float: right;
    top:20px;
    z-index: 100;
    @extend .sprite-kiriweb;
    background-position: 0px -150px;
    &:hover{background-position: -25px -175px; }
    }
#modalGaleria {
    // @include text-shadow(0 2px 0px rgba(0,0,0,.2));
    z-index: 99999;
    margin: auto;
    position: fixed;
    top:-500%;
    bottom:0;
    left: 0;
    right: 0;
    width: 75%;
    height: 65%;

    // color: #fff;
    img{ width: 100%; }
    #modal-close {
        position:relative;
        top: -11px;
        right: -22px;
    }
}




.box-1{
    background: rgba(0,0,0,.1);
    padding-top: 25px ;
    padding-bottom: 5px ;
}



/* ::::::::::::::::::::::::: [7] LI#CONTACTO ::::::::::::::::::::::::::: */

#contacto {
    ul {
        font-family: $font-kiriFont;
        list-style-type:none;
        font-size: 1em;
        line-height: 2.2em;
    }
    ul li   { margin-bottom: 5px; }
    ul li i { margin-right: 12px; }
    ul li a { color: inherit; }
    ul li a:hover{text-decoration: none !important; color: $cNegro;}
    textarea {
        width: 95%;
        background: none;
        border: none;
        padding: 10px;
        font-family: $font-cursive;
        color: $cBlanco;
        margin:auto;
        margin: 10px;
        resize: vertical;
    }
    #btn-enviar {
        position: relative;
        float: right;
        bottom: -90px;
        margin-top: -80px;
        font-family: $font-kiriFont;
    }
    .box-1 {
        padding-top: 0px;
    }
}





/* :::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::::::::::::::::::::::: */
@media (max-width:768px) {
    * {
         // -webkit-transition: none !important;
         //  -moz-transition: none !important;
         //  -o-transition: none !important;
         //  -ms-transition: none !important;
         //  transition: none !important;
    }
    .page-0 {
        header #menu a { color: $cBlanco !important;}
    }
    li .container {
        padding-top: 110px !important;
        padding-bottom:50px  !important;
    }
    header #menu a {
       margin-right: 0;
       font-size: 1em;

    }
    .featured {
        display: none!important;
    }
    .flechas {
        top: 25px !important;
        bottom: inherit !important;
        &.next { right: 5px !important;}
        &.prev {  left: 5px !important;}
    }
    #logo-big {
        display: none;
    }
    .page-4 {
        // img { width:50%; }
        img { @include transform(scale(.75) !important) ;}
    }
}


/* :::::::::::::: FIN: MEDIA QUERIES :::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::::::::::::::::::::::::::::::: LOADER ::::::::::::::::::::::::::::::::::::::::::::::: */
#loader{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $cNegro;

    z-index: 999999;
}

#loader #loader_txt {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    width: 170px; height: 70px;
    @extend .sprite-kiriweb;
    background-position: -340px -440px;

}
/* ::::::::::::::::::::::::::::::::: FIN: LOADER ::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::::::::::::::::: TOOLTIP ::::::::::::::::::::::::::: */

.tooltip {
    font-family: $font-cursive;

}
.tooltip-inner {
    padding:8px;
    font-size: 1.2em;
    background: $cBlanco;
    color: $cIndigo;
    @include box-shadow;
}
.tooltip > .tooltip-arrow {
    border-top-color: #FFF !important;
    border-top-color: $cBlanco !important;
    border-width: 8px 8px 0;
    bottom: 0;
    left: 50%;
}


/* ::::::::::::::::::: FIN : TOOLTIP ::::::::::::::::::::::::::: */


/* ::::::::::::::::::::::::: FLECHAS ::::::::::::::::::::::::::: */
.flechas {
    @extend .sprite-kiriweb;
    position: fixed;
    top:0; bottom:0;
    margin:auto;
    z-index: 6;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.flechas.deactivated { display: none; }
.prev       {left: -20px;  background-position: -150px -0px; &:hover { background-position: -175px -25px; }}
.next       {right: -20px; background-position: -50px -0px;  &:hover { background-position: -75px -25px;  }}
/* ::::::::::::::::::::::::: FIN:FLECHAS ::::::::::::::::::::::::::: */


/* iconos */

.icon {
    @extend .sprite-kiriweb;
    width: 25px; height: 25px;
    display: inline-block;
    vertical-align: -10px;
    margin:5px;
    &.icon-sm {@include transform(scale(.75)); }
}

.icon-facebook       { background-position: -50px -50px;    &:hover  { background-position: -50px -75px;  } }
.icon-twitter        { background-position: -100px -50px;   &:hover  { background-position: -100px -75px; } }
.icon-youtube        { background-position: -150px -50px;   &:hover  { background-position: -150px -75px; } }
.icon-share          { background-position: -0px    -50px; &:hover  { background-position: -0px    -75px;  } cursor: pointer;}
.icon-mail           { background-position: -100px -100px;  &:hover     { background-position: -100px -125px; } }
.icon-lugar          { background-position: -150px -150px;  &:hover    { background-position: -150px -175px; } }
.icon-telefono       { background-position: -200px -50px;  &:hover    { background-position: -200px -75px; } }
.icon-home           { background-position: -250px -50px;   &:hover     { background-position: -275px -75px; } }
.icon-Dummy          { background-image: none; }
.icon-down           { background-position: -125px -0px; &:hover { background-position: -125px -25px; } }
.icon-up             { background-position: -25px -0px;  &:hover { background-position: -25px -25px;  } }
.icon-left           { background-position: -150px -0px; &:hover { background-position: -175px -25px; } }
.icon-right          { background-position: -50px -0px;  &:hover { background-position: -75px -25px;  } }
.icon-mas            { background-position: -225px -0px; &:hover { background-position: -225px -25px; } }
.icon-menos          { background-position: -275px -0px; &:hover { background-position: -275px -25px; } }
.icon-zoom           { background-position: -325px -0px; &:hover { background-position: -325px -25px; } }
.icon-download       { background-position: -325px -50px; &:hover { background-position: -300px -50px; } }


.sprite-elenco {margin: 15px auto; background-image:url('../images/sprites/sprite-elenco-2.png'); }
.sprite-pelusa      {background-position:  -8px -7px;       width: 135px;   height: 190px; }
.sprite-pepe        {background-position: -168px -5px;      width: 177px;   height: 171px; }
.sprite-norma       {background-position: -390px 0;         width: 124px;   height: 235px; }
.sprite-rita        {background-position: 0 -201px;         width: 138px;   height: 159px; }
.sprite-santi       {background-position: -144px -212px;    width: 99px;    height: 117px; }
.sprite-ignacio     {background-position: -250px -185px;    width: 127px;   height: 151px; }
.sprite-betiana     {background-position: -390px -244px;    width: 140px;   height: 147px; }
.sprite-marcelo     {background-position: -6px -375px;      width: 166px;   height: 136px; }
.sprite-susana      {background-position: -179px -356px;    width: 162px;   height: 144px; }



/* scrollbar */

::-webkit-scrollbar {width: 16px; height: 16px; z-index: 99999; }
::-webkit-scrollbar-track {background: rgba($cNegro, 0.2); margin-top: 67px; margin-bottom: 65px; }
::-webkit-scrollbar-thumb {background: rgba($cNegro, 0.7); }
::-webkit-scrollbar-thumb:hover {background: rgba($cIndigo, 0.7); }
::-webkit-scrollbar-thumb:active {background: rgba($cCyan, 0.7); }

::-moz-scrollbar {width: 16px; height: 16px; z-index: 99999; }
::-moz-scrollbar-track {background: rgba($cNegro, 0.2); margin-top: 67px; margin-bottom: 65px; }
::-moz-scrollbar-thumb {background: rgba($cNegro, 0.7); }
::-moz-scrollbar-thumb:hover {background: rgba($cIndigo, 0.7); }
::-moz-scrollbar-thumb:active {background: rgba($cCyan, 0.7); }

::-ms-scrollbar {width: 16px; height: 16px; z-index: 99999; }
::-ms-scrollbar-track {background: rgba($cNegro, 0.2); margin-top: 67px; margin-bottom: 65px; }
::-ms-scrollbar-thumb {background: rgba($cNegro, 0.7); }
::-ms-scrollbar-thumb:hover {background: rgba($cIndigo, 0.7); }
::-ms-scrollbar-thumb:active {background: rgba($cCyan, 0.7); }

::-o-scrollbar {width: 16px; height: 16px; z-index: 99999; }
::-o-scrollbar-track {background: rgba($cNegro, 0.2); margin-top: 67px; margin-bottom: 65px; }
::-o-scrollbar-thumb {background: rgba($cNegro, 0.7); }
::-o-scrollbar-thumb:hover {background: rgba($cIndigo, 0.7); }
::-o-scrollbar-thumb:active {background: rgba($cCyan, 0.7); }

::scrollbar {width: 16px; height: 16px; z-index: 99999; }
::scrollbar-track {background: rgba($cNegro, 0.2); margin-top: 67px; margin-bottom: 65px; }
::scrollbar-thumb {background: rgba($cNegro, 0.7); }
::scrollbar-thumb:hover {background: rgba($cIndigo, 0.7); }
::scrollbar-thumb:active {background: rgba($cCyan, 0.7); }


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  @include border-radius();
  @include box-shadow();
  }
.rslides_nav.prev{ float:left;}
.rslides_nav.next{ float:right;}
.rslides_tabs {
    width: 100%;
    margin:auto;
    text-align: center;
    li {
        margin-right:15px;
        display: inline-block;
        width: 12px; height:12px;
        background: $cRojoDark;
        font-size: .0001em;
        @include border-radius(6px);
        &.rslides_here {
            background: $cBlanco;
        }
        &:last-child {
            margin-right:0px;
        }
    }
}
